/Discord_bot/ERBS_Bot/ERBS_Bot/Data.py
/Discord_bot/ERBS_Bot/ERBS_Bot/module1.py
/Key

/Bigdata_eunseok/temp

/Bigdata_eunseok/jsp/eclipse
/Bigdata_eunseok/jsp/util
/Bigdata_eunseok/jsp/자료

/Bigdata_eunseok/java/eclipse
/Bigdata_eunseok/java/util
/Bigdata_eunseok/java/자료

/Bigdata_eunseok/spring/자료
/Bigdata_eunseok/spring/util
/Bigdata_eunseok/spring/sts-bundle

/Bigdata_eunseok/python/자료
/Bigdata_eunseok/python/util

/Bigdata_eunseok/bigdata/자료
/Bigdata_eunseok/bigdata/util

/Bigdata_eunseok/bigdata/workspace/test
/Bigdata_eunseok/bigdata/workspace/23-Naver_Login/account.py
/Bigdata_eunseok/bigdata/workspace/24-Instagram/account.py

*.zip