/Discord_bot/ERBS_Bot/ERBS_Bot/Data.py
/Discord_bot/ERBS_Bot/ERBS_Bot/module1.py
/Key

/Bigdata_eunseok/temp

/Bigdata_eunseok/jsp/eclipse
/Bigdata_eunseok/jsp/util
/Bigdata_eunseok/jsp/자료

/Bigdata_eunseok/java/eclipse
/Bigdata_eunseok/java/util
/Bigdata_eunseok/java/자료